{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Index - Gp Bootstrap Template</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}"
      rel="stylesheet"
    />
    <link href="{% static "vendor/aos/aos.css" %}" rel="stylesheet"> 
    <link
    href="{% static "vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/glightbox/css/glightbox.min.css" %}"
    rel="stylesheet">

    <!-- Main CSS File -->

    <link rel="stylesheet" href="{% static 'main.css' %}" />


  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
      >
        <a
          href="index.html"
          class="logo d-flex align-items-center me-auto me-lg-0"
        >
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->

          <h1 class="sitename">Games Mashinani</h1>
          <span>.</span>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a href="#hero" class="active">Home<br /></a>
            </li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Fixtures</a></li>
            <li><a href="#portfolio">Results</a></li>
            <li><a href="#team">Team</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Pools</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i
              ></a>
              <ul>
                <li><a href="#">Kiambu Pool A</a></li>
                <li class="dropdown">
                  <a href="#"
                    ><span>Deep Dropdown</span>
                    <i class="bi bi-chevron-down toggle-dropdown"></i
                  ></a>
                  <ul>
                    <li><a href="#">Kiambu Pool B</a></li>
                    <li><a href="#">Kiambu Pool C</a></li>
                    <li><a href="#">Kiambu Women</a></li>
                    <li><a href="#">Muranga Pool A</a></li>
                    <li><a href="#">Muranga Pool B</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown 2</a></li>
                <li><a href="#">Dropdown 3</a></li>
                <li><a href="#">Dropdown 4</a></li>
              </ul>
            </li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="index.html#about">Log In</a>
      </div>
    </header>

    <main class="main">
      <!-- Hero Section -->
      <section id="hero" class="hero section dark-background">
        <img src="{% static "img/haaland.jpeg" %}" class="img-fluid" alt=""
        data-aos="fade-in">

        <div class="container">
          <div
            class="row justify-content-center text-center"
            data-aos="fade-up"
            data-aos-delay="100"
          ></div>

          <div
            class="row gy-4 mt-5 justify-content-center"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div
              class="col-xl-2 col-md-4"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <i class="bi bi-trophy"></i>
                <h3><a href="">Chairman Cup</a></h3>
              </div>
            </div>
            <div
              class="col-xl-2 col-md-4"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <i class="bi bi-trophy"></i>
                <h3><a href="">Muranga</a></h3>
              </div>
            </div>
            <div
              class="col-xl-2 col-md-4"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div class="icon-box">
                <i class="bi bi-trophy"></i>
                <h3><a href="">Kiambu</a></h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Hero Section -->

      <!-- About Section -->
      <section id="about" class="about section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="card" style="border-radius: 0.5rem">
            <div class="card-body">
              <div class="d-flex justify-content-around">
                <div>
                  Muranga

                  <ul class="">
                    {% for pool in mpools %}

                    <li>
                      <a
                        class="text-decoration-underline fw-bold text-uppercase"
                        href="#"
                        >{{pool.name}}</a
                      >
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <div>
                  Kiambu

                  <ul class="">
                    {% for pool in kpools %}

                    <li>
                      <a
                        class="text-decoration-underline fw-bold text-uppercase"
                        href="#"
                        >{{pool.name}}</a
                      >
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <div>
                  Thika

                  <ul class="">
                    {% for pool in kpools %}

                    <li>
                      <a
                        class="text-decoration-underline fw-bold text-uppercase"
                        href="#"
                        >{{pool.name}}</a
                      >
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /About Section -->

      <!-- Clients Section -->
      {% comment %}
      <section id="clients" class="clients section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                },
                "breakpoints": {
                  "320": {
                    "slidesPerView": 2,
                    "spaceBetween": 40
                  },
                  "480": {
                    "slidesPerView": 3,
                    "spaceBetween": 60
                  },
                  "640": {
                    "slidesPerView": 4,
                    "spaceBetween": 80
                  },
                  "992": {
                    "slidesPerView": 6,
                    "spaceBetween": 120
                  }
                }
              }
            </script>
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="{% static "img/clients/client-1.png" %} "
                class="img-fluid" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{% static "img/clients/client-2.png" %} "
                class="img-fluid" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{% static "img/clients/client-3.png" %} "
                class="img-fluid" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{% static "img/clients/client-4.png" %} "
                class="img-fluid" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{% static "img/clients/client-5.png" %} "
                class="img-fluid" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{% static "img/clients/client-6.png" %} "
                class="img-fluid" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{% static "img/clients/client-7.png" %} "
                class="img-fluid" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{% static "img/clients/client-8.png" %} "
                class="img-fluid" alt="">
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- /Clients Section -->
      {% endcomment %}

      <!-- Services Section -->
      <section id="services" class="services section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <p>Fixtures</p>
          <h2>Date</h2>
        </div>
        <!-- End Section Title -->

        <div class="container">
          <div class="row gy-4">
            {% for fixture in fixtures %}
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"     >
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-activity"></i>
                </div>
                <a href="service-details.html" class="stretched-link">
                  <h3>{{ fixture.home }}</h3>
                  vs
                  <h3>{{fixture.away}}</h3>
                </a>
              </div>
            </div>
            <!-- End Service Item -->
            {% endfor %}
           
            <!-- End Service Item -->
          </div>
        </div>
      </section>
      <!-- /Services Section -->

      <!-- Call To Action Section -->
      <section
        id="call-to-action"
        class="call-to-action section dark-background"
      >
        <img src="{% static "img/pitch.jpg" %}" alt="">

        <div class="container">
          <div
            class="row justify-content-center"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-xl-10">
              <div class="text-center">
                <h3>BUY TICKETS</h3>
                <p>Get Tickets to your favourite matches 👇🏽</p>
                <a class="cta-btn" href="#">Buy Now !!</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Call To Action Section -->

      <!-- Portfolio Section -->

      {% comment %}
      <!-- Testimonials Section -->
      <section id="testimonials" class="testimonials section dark-background">
        <img
          src="{% static 'img/testimonials-bg.jpg' %}"
          class="testimonials-bg"
          alt=""
        />

        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                }
              }
            </script>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img
                    src="{% static 'img/testimonials/testimonials-1.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span
                      >Proin iaculis purus consequat sem cure digni ssim donec
                      porttitora entum suscipit rhoncus. Accusantium quam,
                      ultricies eget id, aliquam eget nibh et. Maecen aliquam,
                      risus at semper.</span
                    >
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img
                    src="{% static 'img/testimonials/testimonials-2.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span
                      >Export tempor illum tamen malis malis eram quae irure
                      esse labore quem cillum quid cillum eram malis quorum
                      velit fore eram velit sunt aliqua noster fugiat irure amet
                      legam anim culpa.</span
                    >
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="{% static "img/testimonials/testimonials-3.jpg" %}"
                  class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span
                      >Enim nisi quem export duis labore cillum quae magna enim
                      sint quorum nulla quem veniam duis minim tempor labore
                      quem eram duis noster aute amet eram fore quis sint
                      minim.</span
                    >
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slideAction">
                <div class="testimonial-item">
                  <img
                    src="{% static 'img/testimonials/testimonials-4.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span
                      >Fugiat enim eram quae cillum dolore dolor amet nulla
                      culpa multos export minim fugiat minim velit minim dolor
                      enim duis veniam ipsum anim magna sunt elit fore quem
                      dolore labore illum veniam.</span
                    >
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img
                    src="{% static 'img/testimonials/testimonials-5.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span
                      >Quis quorum aliqua sint quem legam fore sunt eram irure
                      aliqua veniam tempor noster veniam enim culpa labore duis
                      sunt culpa nulla illum cillum fugiat legam esse veniam
                      culpa fore nisi cillum quid.</span
                    >
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- /Testimonials Section -->
      {% endcomment %}
    </main>

    <footer id="footer" class="footer dark-background">
      <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
              <a href="index.html" class="logo d-flex align-items-center">
                <span class="sitename">GamesMashinani</span>
              </a>
              <div class="footer-contact pt-3">
                <p>Address</p>
                <p class="mt-3">
                  <strong>Phone:</strong> <span>+1 5589 55488 55</span>
                </p>
                <p>
                  <strong>Email:</strong>
                  <span>gamesmashinani@example.com</span>
                </p>
              </div>
              <div class="social-links d-flex mt-4">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#"> Home</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#"> About us</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#"> Fixtures</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#"> Results</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Privacy policy</a>
                </li>
              </ul>
            </div>

            {% comment %}
            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Web Design</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Web Development</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Product Management</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#"> Marketing</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Graphic Design</a>
                </li>
              </ul>
            </div>
            {% endcomment %}

            <div class="col-lg-4 col-md-12 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>
                Subscribe to our newsletter and receive the latest news about
                our products and services!
              </p>
              <form
                action="forms/newsletter.php"
                method="post"
                class="php-email-form"
              >
                <div class="newsletter-form">
                  <input type="email" name="email" /><input
                    type="submit"
                    value="Subscribe"
                  />
                </div>
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your subscription request has been sent. Thank you!
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container text-center">
          <p>
            © <span>Copyright</span> <strong class="px-1 sitename">GP</strong>
            <span>All Rights Reserved</span>
          </p>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you've purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
